{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minuta Directiva y Operativa</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>

    <!-- Logout -->
    <div class="logout-container">
        <a href="{% url 'logout' %}" class="logout-link" target="_blank">Cerrar sesión</a>
    </div>

    <!-- Menú lateral -->
    <div class="menu-container" id="sidebar">
        <h2>Menú principal</h2>
        <div class="welcome-message">
            <p>Bienvenido, <strong>{{ request.user.username }}</strong></p>
        </div>

        <ul class="menu-list">
            <li class="menu-item {% if request.path == '/directivo/' %}active{% endif %}">
                <a href="{% url 'directivo_index' %}" class="menu-link" target="_blank">Directivo</a>
            </li>
            <li class="menu-item {% if request.path == '/operativo/' %}active{% endif %}">
                <a href="{% url 'operativo_index' %}" class="menu-link" target="_blank">Operativo</a>
            </li>
        </ul>
    </div>

    <div class="content-container">
        {% block content %}
        <!-- Aquí va el contenido principal -->
        {% endblock %}
    </div>
</body>
</html>
