<section class="desarrollo">
  <h2>INFORMACIÓN</h2>

  <h3>1. PRODUCCIÓN (6 MIN)</h3>
  <ul>
    <li>ESTADO DE LAS UNIDADES</li>
    <li>
      SEGUIMIENTO A REGIMEN TÉRMICO DE LAS UNIDADES (solo para centrales
      termoelectricas)
    </li>
    <li>Avisos de atención inmediata del área de operación</li>
    <li>
      Avisos de atención inmediata del área química (solo para centrales que
      cuentan con esta área)
    </li>
    <li>Maniobras con riesgo para la operación de las unidades</li>
  </ul>

  <h3>2. MANTENIMIENTO (2 MIN)</h3>
  <ul>
    <li>
      Seguimiento de actividades que originaron salida o decremento de la unidad
    </li>
    <li>Avance del proyecto de mantenimiento en proceso y su problemática</li>
    <li>Avisos de atención inmediata de mantenimiento predictivo</li>
    <li>Actividades de mantenimiento con riesgo</li>
  </ul>

  <h3>3. SEGURIDAD Y AMBIENTAL (3 MIN)</h3>
  <ul>
    <li>Avisos de atención inmediata relacionados con aspectos de seguridad</li>
    <li>
      EVENTOS QUE AFECTEN O PUEDAN AFECTAR LAS CONDICIONES DE SEGURIDAD DE LA
      CENTRAL
    </li>
    <li>
      EVENTOS QUE AFECTEN O PUEDAN AFECTAR LAS CONDICIONES AMBIENTALES DE LA
      CENTRAL
    </li>
  </ul>

  <h3>4. REVISIÓN DE ACUERDOS ANTERIORES (2 MIN)</h3>
  <a href="{% url 'historial_acuerdos' %}">Ir a página</a>

  <h3>5. CREACIÓN DE ACUERDOS NUEVOS (1 MIN)</h3>
  <a href="{% url 'crear_acuerdo_operativo' %}" target="_blank">Ir a página</a>

  <h3>6. SUPERINTENDENCIA GENERAL (1 MIN)</h3>
  <p>RATIFICACIÓN DE LAS ACTIVIDADES PRIORITARIAS DEL DÍA</p>
</section>
