<section class="encabezado">
    <h1>AGENDA DE LA REUNIÓN OPERATIVA DE LA CENTRAL CCC VALLADOLID</h1>
    <p>Identificador: REUNIÓN OPERATIVA</p>
    <p>Fecha: {{ fecha_actual }}</p>
    <p>Lugar: Sala de Juntas</p>
    

    <section id="cronometro-section">
    <h2>Cronómetro de la reunión</h2>
    <p>Duración restante: <span id="cronometro">32:00</span></p>

    <!-- Botones de control -->
    <div class="botones-cronometro">
        <button id="btnIniciar">Iniciar</button>
        <button id="btnPausar">Pausar</button>
        <button id="btnReiniciar">Reiniciar</button>
        <button id="btnCancelar">Cancelar</button>
    </div>
</section>
</section>